<!DOCTYPE html>
<!--
    Image Sources
    https://haywardusd-ca.schoolloop.com/file/1514016329065/1642666678584/8621364916648677506.png Matt
    https://haywardusd-ca.schoolloop.com/file/1514016329065/1642666678584/5785220070798507247.png Jenna
-->
<html lang="en">
    <header>
        <title>Staff Cards</title>
        <link rel="stylesheet" href="style.css">
    </header>

    <body>
        <div class="board">
            <div class="board-item">
                <h3>
                    Superintendent & Board Secretary
                </h3>
                <div class="card">
                    <img src="media/Matt Wayne.png">
                    <div class="card-text">
                        <div class="card-head">
                            <h4>
                                Dr. Matt Wayne
                            </h4>
                        </div>
                        <div class="card-info">
                            <p>
                                Phone: (510) 784-2688
                            </p>
                            <p>
                                Email: <a href="mailto:mwayne@husd.k12.ca.us">mwayne@husd.k12.ca.us</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="board-item">
                <h3>
                    Administrative Assistant to the Superintendent & Board of Education
                </h3>
                <div class="card">
                    <img src="media/Jenna Rodrigues.png">
                    <div class="card-text">
                        <div class="card-head">
                            <h4>
                                Jenna Rodrigues
                            </h4>
                        </div>
                        <div class="card-info">
                            <p>
                                Phone: (510) 784-2688
                            </p>
                            <p>
                                Email: <a href="mailto:jrodrigues@husd.k12.ca.us">jrodrigues@husd.k12.ca.us</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>